{% load static i18n %}

<div class="features-article">
    <h2 class="title-h2 features-title">
        <b>Integrated &amp; Centralised Accounting</b> Reduces Errors in
        Financial Reporting &amp; Management
    </h2>
    <div class="row align-items-center">
        <div class="col-lg-6">
            <div class="features-article-image">
                <img
                class="adaptive-img wow fadeInLeft"
                src="https://sebasmoralesd.com/rms/imgs/residential/residential-content-7.png"
                style="visibility: hidden; animation-name: none"
                />
            </div>
        </div>
        <div class="col-lg-6">
            <article>
                <ul class="features-list">
                    <li>
                        Booking provides you with landlord accounting
                        software for rental property owners &amp; real estate
                        investors.
                    </li>
                    <li>
                        Automatically sync your Booking properties &amp;
                        view your numbers by property or unit.
                    </li>
                    <li>
                        Import recent transaction data &amp; create matching
                        transaction rules for easy bookkeeping. Also, get
                        detailed financial reports and tax-ready IRS Schedule E
                        reports.
                    </li>
                    <li>
                        Improved budgeting, billing, collections, recovery,
                        reporting, and financial control built around your KPIs.
                    </li>
                </ul>
            </article>
        </div>
    </div>
</div>