{% load static i18n %}

<div class="container">
    <h2 class="title-h2 features-title">
        {% trans 'FAQ for Our RMS Management System' %}
    </h2>
    <div class="segment-accordion">
        <div class="segment-accordion__item">
            <div class="segment-accordion__trigger">
                <h3>
                    {% trans 'What is an RMS Management System?' %}
                </h3>
                <div class="segment-accordion__icon">
                    <i class="fas fa-chevron-down"></i>
                </div>
            </div>
            <div class="segment-accordion__content">
                <p>
                    {% trans 'Residential management software is designed with solutions to manage all types of residential property, from small apartment blocks to large portfolios of residential units across geographies.' %}
                </p>
                <p>
                    {% trans 'Residential Property Management Software enables you to do more than simply manage your properties. You may handle everything from identifying the property to ensuring legal compliance and engaging in a Lease/Rental Agreement.' %}
                </p>
            </div>
        </div>
        
        <div class="segment-accordion__item">
            <div class="segment-accordion__trigger">
                <h3>
                    {% trans 'What are the main features of a resident management system?' %}
                </h3>
                <div class="segment-accordion__icon">
                    <i class="fas fa-chevron-down"></i>
                </div>
            </div>
            <div class="segment-accordion__content">
                <p>
                    {% trans 'Key features provided by a resident management system include:' %}
                </p>
            <ul class="features-list">
                <li>
                    {% trans 'Booking Of Facilities' %}
                </li>
                <li>
                    {% trans 'Movement Of Residents Tracking /Auto-Update Of Resident Manager' %}
                </li>
                <li>{% trans 'Accounting' %}</li>
                <li>{% trans 'Operational Tools' %}</li>
                <li>{% trans 'Reporting And Analytics' %}</li>
                <li>{% trans 'Leasing' %}</li>
                <li>{% trans 'Maintenance' %}</li>
                <li>{% trans 'Integrations And Extensibility' %}</li>
            </ul>
            </div>
        </div>
    
        <div class="segment-accordion__item">
            <div class="segment-accordion__trigger">
            <h3>
                {% trans 'Does Booking offer free trial and training for the residential management software?' %}
            </h3>
            <div class="segment-accordion__icon">
                <i class="fas fa-chevron-down"></i>
            </div>
            </div>
            <div class="segment-accordion__content">
            <p>
                {% trans 'We offer free training as part of the subscription package. We teach your team how to leverage the power of the Booking platform across functions. We offer free demo sessions.' %}
                <a href="/">{% trans 'Try out a demo today!' %}</a>
            </p>
            </div>
        </div>

        <div class="segment-accordion__item">
            <div class="segment-accordion__trigger">
            <h3>
                {% trans 'What is the support that Booking provides for residential property management software?' %}
            </h3>
            <div class="segment-accordion__icon">
                <i class="fas fa-chevron-down"></i>
            </div>
            </div>
            <div class="segment-accordion__content">
                <p>
                    {% blocktrans %}
                        Our 24hr live support team will always be available to answer any questions you encounter on the app.
                    {% endblocktrans %}
                </p>
            </div>
        </div>
    </div>
</div>