{% load static i18n %}

<div class="features-article">
    <h2 class="title-h2 features-title">
        {% trans 'User-Friendly, Customized Housing Experience with Our <b>Residential Management System</b>' %}
    </h2>
    <div class="row align-items-center">
        <div class="col-lg-6 order-lg-1">
        <div class="features-article-image">
            <img
                class="adaptive-img wow fadeInRight"
                src="https://sebasmoralesd.com/rms/public/static/imgs/residential/residential-content-2.png"
                style="visibility: hidden; animation-name: none"
            />
        </div>
        </div>
        <div class="col-lg-6">
            <ul class="features-list">
                <li>
                    {% blocktrans %}
                        Our rental property management software makes it easy for everyoneーlandlords, tenants, teammates, and maintenance personnel to stay on the same page.
                    {% endblocktrans %}
                </li>
                <li>
                    {% blocktrans %}
                        Leverage in-app notifications to tenants and Live customer support for landlords and tenants to keep your focus on prospects, residents, and staff.
                    {% endblocktrans %}
                </li>
                <li>
                    {% blocktrans %}
                        Let your property management software do the work for you. Booking delivers an intuitive user experience, efficient workflows, and unmatched abilities to adapt to the operating model of your business.
                    {% endblocktrans %}
                </li>
                <li>
                    {% blocktrans %}
                        Deliver unique, persona-driven experiences tailored to specific users and roles that provide an easy and intuitive user experience across the entire solution, including non-Booking products from partners and third parties.
                    {% endblocktrans %}
                </li>
            </ul>
        </div>
    </div>
</div>