{% load static i18n %}

<div class="features-article">
    <div class="row align-items-center">
        <div class="col-lg-6">
        <div class="features-article-image">
            <img
            class="adaptive-img wow fadeInLeft"
            src="https://sebasmoralesd.com/rms/imgs/residential/residential-content-1.png"
            style="visibility: visible; animation-name: fadeInLeft"
            />
        </div>
        </div>
        <div class="col-lg-6">
        <ul class="features-list">
            <li>
            Manage your properties, residents, and accounts with our
            property management system.
            </li>
            <li>
            Residential homeowners can now efficiently maximize
            profits through intelligent money management, automated
            payments, expense tracking, personalized reporting, and
            more.
            </li>
            <li>
            Enjoy our all-in-one Residential Property Management
            Software for Landlords with everything you need and
            Advanced settings that control all aspects of the app.
            </li>
        </ul>
        </div>
    </div>
</div>