{% load static i18n %}

<div class="features-hero_new residential-hero ovh">
    <div class="container">
        <img
            alt="Integrated residential Property Management Software with Automation Solution"
            class="wow fadeInUp residential-hero__img"
            src="https://sebasmoralesd.com/rms/public/static/imgs/hero/residential-hero.png"
            style="visibility: visible; animation-name: fadeInUp"
        />
        <div class="row align-items-center">
            <div
                class="col-lg-7 col-xl-6 wow fadeIn"
                style="visibility: visible; animation-name: fadeIn"
            >
                <article class="segment__hero-txt">
                    <h1>
                        {% trans 'End-to-End <u>Residential</u> and <u>Property</u> Management System (RMS and PMS)' %}
                    </h1>
                    <div class="row gutters-small justify-content-center justify-content-lg-start">
                        <div class="col-auto">
                            <a href="/" class="button-orange">
                                {% trans 'Schedule a Meeting' %}
                            </a>
                        </div>
                        <div class="col-auto">
                            <a href="https://api.whatsapp.com/send?phone=573002954040" class="button-whatsapp" target="_blank">
                                {% trans 'WhatsApp Us' %}
                            </a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>