{% load static i18n %}

<div class="features-article">
    <h2 class="title-h2 features-title">
        {% trans '<b>Lease Management System</b> Simplifies Lease Process' %}
    </h2>
    <div class="row align-items-center">
        <div class="col-lg-6">
            <div class="features-article-image">
                <img
                    class="adaptive-img wow fadeInLeft"
                    src="https://sebasmoralesd.com/rms/public/static/imgs/residential/residential-content-4.png"
                    style="visibility: hidden; animation-name: none"
                />
            </div>
        </div>
        <div class="col-lg-6">
            <article>
                <ul class="features-list">
                    <li>
                        {% blocktrans %}
                            Using the Booking tenant lease system, you can send and sign documents with legal documentation of signatures. Safely and securely send a sign, and store leases.
                        {% endblocktrans %}
                    </li>
                    <li>
                        {% blocktrans %}
                            Add stored leases and documents to tenants’ profiles. If you upload leases from another source, your documents are ready to download or print—whenever or wherever you may be.
                        {% endblocktrans %}
                    </li>
                    <li>
                        {% blocktrans %}
                            Enjoy Residential Reporting features such as Residential Rent Roll, Summary of Activity, and Leasing Agent Summary. Also, receive in-app notifications during the signing process.
                        {% endblocktrans %}
                    </li>
                    <li>
                        {% blocktrans %}
                            Simplify and automate the leasing process and deal tracking, accelerate the leasing process, and maximize revenue.
                        {% endblocktrans %}
                    </li>
                    <li>
                        {% blocktrans %}
                            Access to Tenant Reporting features to track Lease Abstract, Tenant Delinquency, Tenant Sales, Demand Letters, and more.
                        {% endblocktrans %}
                    </li>
                </ul>
            </article>
        </div>
    </div>
</div>