{% load static i18n %}

<div class="features-article">
    <h2 class="title-h2 features-title">
        Comprehensive, Configurable &amp; Effective
        <b>Property Management Workflow</b> Solution
    </h2>
    <div class="row align-items-center">
        <div class="col-lg-6 order-lg-1">
            <div class="features-article-image">
                <img
                class="adaptive-img wow fadeInRight"
                src="https://sebasmoralesd.com/rms/imgs/residential/residential-content-3.png"
                style="visibility: hidden; animation-name: none"
                />
            </div>
        </div>
        <div class="col-lg-6">
            <article>
                <ul class="features-list">
                <li>
                    Easily manage maintenance with our rental management
                    software. Spend more time doing what you want and less
                    time on management duties.
                </li>
                <li>
                    Tenants can submit maintenance requests through the
                    Booking Tenant application and categorize,
                    prioritize &amp; send status updates for all maintenance
                    requests through the tenant app online.
                </li>
                <li>
                    Track Collections, Occupancy, Sales, Maintenance,
                    Leasing, and Lease Compliance by Tenant and Property in
                    just a few clicks.
                </li>
                <li>
                    Provide top-tier service and maintenance for residents
                    with features including insurance tracking.
                </li>
                </ul>
            </article>
        </div>
    </div>
</div>