{% load static i18n %}

<div class="features-pricing">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <h2
                class="title-h2 features-title wow fadeIn"
                style="visibility: hidden; animation-name: none"
                >
                    Our Residential Property Management Systems Pricing
                </h2>
            </div>
            <div class="col-md-9">
                <p
                class="wow fadeIn"
                data-wow-delay="0.15s"
                style="
                    visibility: hidden;
                    animation-delay: 0.15s;
                    animation-name: none;
                "
                >
                    Our Residential Property Management System starts at
                    $2/month!
                </p>
                <a href="/" class="button-orange">
                    PLANS &amp; PRICING
                </a
                >
            </div>
        </div>
    </div>
</div>