{% load static i18n %}

<div class="features-article">
    <h2 class="title-h2 features-title">
        Our <b>Rental Management Tenant Software</b> Motivates On-Time
        Rent Payment
    </h2>
    <div class="row align-items-center">
        <div class="col-lg-6 order-lg-1">
            <div class="features-article-image">
                <img
                class="adaptive-img wow fadeInRight"
                src="https://sebasmoralesd.com/rms/imgs/residential/residential-content-5.png"
                style="visibility: hidden; animation-name: none"
                />
            </div>
        </div>
        <div class="col-lg-6">
            <article>
                <ul class="features-list">
                    <li>
                        Collect rent online with our mobile app. Our rental
                        software for landlords ensures that you can easily
                        collect rent online without hidden fees. We offer
                        customizable payment options for both landlords and
                        tenants.
                    </li>
                    <li>
                        Collect mobile payments on time with auto-pay for
                        tenants. Use multiple payment options such as cash,
                        credit, debit, ACH, or ACH-only.
                    </li>
                    <li>
                        Put rent collection on autopilot. Let Booking
                        onboard your tenants, send reminders when rent is due,
                        and give you real-time updates when rent payments come
                        through while avoiding the hassles of third-party apps.
                    </li>
                </ul>
            </article>
        </div>
    </div>
</div>