{% load static i18n %}

<div class="container">
    <div class="features-article">
        <h2 class="title-h2 features-title">
            Residential Visitor Management System Keeps Track of Visitor
            Activities
        </h2>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="features-article-image">
                    <img
                    class="adaptive-img wow fadeInLeft"
                    src="{% static 'imgs/residential/residential-content-6.png' %}"
                    style="visibility: hidden; animation-name: none"
                    />
                </div>
            </div>
            <div class="col-lg-6">
                <article>
                    <ul class="features-list">
                        <li>
                            Keep track of your visitor activity and pre-register or
                            invite visitors. Multiunit Registration features are
                            available to help register visitors for multiple units.
                        </li>
                        <li>
                            Manage all your short-stay and long-stay guests’ visits
                            and parking using our visitor management system.
                        </li>
                        <li>
                            Easily access visitor records and access to ensure your
                            visitors' activities are appropriately regulated.
                        </li>
                    </ul>
                </article>
            </div>
        </div>
    </div>
</div>