{% load static i18n %}

<div class="container">
    <div class="features-article">
        <div class="row align-items-center">
            <div class="col-lg-4">
                <div class="features-article-image">
                    <img
                    class="adaptive-img img-p__bottom wow fadeInLeft"
                    src="https://rms.sebasmoralesd.com/public/static/imgs/campground/campground-management-content-11.png"
                    style="visibility: hidden; animation-name: none"
                    />
                </div>
            </div>
            <div class="col-lg-8">
                <h2 class="title-h2 features-title features-title--text-left">
                    {% trans 'Speak to Our Resident Management System Specialist' %}
                </h2>
                <p>
                    {% blocktrans %}
                        Now is your chance to experience the power of actionable
                        reporting, intelligent automation, and customization of a
                        PMS that suits your needs.
                    {% endblocktrans %}
                </p>
                <p>{% trans 'Seeing is believing' %}</p>
                <a href="/" class="button-orange">
                    {% trans 'Schedule a Meeting' %}
                </a>
            </div>
        </div>
    </div>
</div>