{% load static i18n %}

<div class="features-article">
    <h2 class="title-h2 features-title">
        Why Booking has the
        <b>Best Residential Property Management Software?</b>
    </h2>
    <div class="row align-items-center">
        <div class="col-lg-6 order-lg-1">
            <div class="features-article-image">
                <img
                class="adaptive-img img-p__bottom wow fadeInRight"
                src="https://sebasmoralesd.com/rms/public/static/imgs/campground/campground-management-content-10.png"
                style="visibility: hidden; animation-name: none"
                />
            </div>
        </div>
        <div class="col-lg-6">
            <p>
                Booking RMS is in partnership with the #1 CRM
                platform- Salesforce. It offers a comprehensive deck of
                features that help simplify how you manage event bookings
                while boosting sales and enhancing collaboration among staff
                and clients.
            </p>
            <ul class="features-list">
                <li>
                <b>A unique software ecosystem</b>
                <br />
                Booking open and connected approach lets you
                diversify your tech strategy through APIs and
                interoperability with partners and third-party providers.
                </li>
                <li>
                <b>User-centric approach</b>
                <br />
                Deliver unique, persona-driven experiences tailored to
                specific users and roles that provide an easy and
                intuitive user experience across the entire solution,
                including non-Booking products from partners and
                third parties.
                </li>
                <li>
                <b>Centralized data</b>
                <br />
                Make smarter decisions and reduce risk with automated
                AI-driven insights extracted from your data. With a single
                point of access to every part of your residential
                business, you can create a frictionless data experience
                that helps you chase opportunities, not problems.
                </li>
                <li>
                <b>Training and Support Included</b>
                <br />
                We teach your team how to leverage the power of the
                Booking platform across functions. Live chat,
                phone, and email support with a member of our team.
                </li>
            </ul>
        </div>
    </div>
</div>