{% extends 'base.html' %}

{% load static i18n %}

{% block header %}
    <header class="header">
        <div class="row align-items-center justify-content-between">
            <div class="col col-xl-auto logo-wrap">
                <a class="logo" href="/">
                <img
                    alt="RMS Logo"
                    src="https://sebasmoralesd.com/rms/public/static/imgs/favicon/favicon.png"
                    style="max-height: 80px;"
                />
                </a>
            </div>
            
            <div class="col-auto col-xl">
                <button class="navigation__button">
                    <i class="fas fa-bars"></i>
                </button>
                {% include 'includes/nav.html' %}
            </div>
            
            <div class="col-auto order-xl-last">
                <div>
                    <a href="/" target="_blank" class="button-orange button--header">{% trans 'Login' %}</a>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}

{% block footer %}
    {% include 'includes/footer.html' %}
{% endblock footer %}