{% load static i18n %}

<html lang="{{ LANGUAGE_CODE }}">
    <head>
      <title>{% block title %}{% endblock title %}</title>
      {% block meta %}{% endblock meta %}
      {% block canonical %}{% endblock canonical %}
      {% block fonts %}{% endblock fonts %}
      {% block third_css %}{% endblock third_css %}
      {% block third_js %}{% endblock third_js %}
      {% block custom_js %}{% endblock custom_js %}
      {% block custom_css %}{% endblock custom_css %}
    </head>
  <body>
    <div class="wrapper">
      {% block header %}{% endblock header %}
      {% block main %}{% endblock main %}
      {% block footer %}{% endblock footer %}
    </div>
    {% block body_third_js %}{% endblock body_third_js %}
  </body>
</html>
