{% load static i18n %}
<div class="data-top">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="data-top__img">
                    <img
                        alt="Automatic Data Processing System"
                        src="https://sebasmoralesd.com/public/static/imgs/content/data-top-bg.png"
                        class="wow fadeInUp"
                    >
                </div>
            </div>
            <div class="col-lg-6">
                <article>
                    <h1>Automatic Data Processing System &amp; PMS Data</h1>
                    <p>
                        Besides a lot of money, these companies are the best at data processing.
                    </p>
                    <p>
                        Data processing is the process of retrieving, transforming, and classifying information.
                    </p>
                    <p>
                        The largest companies in the world (Amazon, Google, Facebook) have mastered this process.
                    </p>
                </article>
            </div>
        </div>
    </div>
</div>