{% load static i18n %}

<div class="why-page-content__item">
    <h1>{% trans 'Data processing provides endless benefits to your property management business:' %}</h1>
    <div class="row">
        <div class="col-lg-4">
            <div class="why-page-content__img">
                <img
                    alt="PMS Data Processing - 1"
                    class="wow fadeInLeft float_right"
                    src="https://sebasmoralesd.com/rms/public/static/imgs/content/data1.png"
                >
            </div>
        </div>
        <div class="col-lg-8">
            <div class="data-check-items">
                <span>{% trans 'Cost reduction' %}</span>
                <span>{% trans 'Easy storage' %}</span>
                <span>{% trans 'Increase in productivity' %}</span>
                <span>{% trans 'Accurate projections' %}</span>
                <span>{% trans 'Smarter decisions' %}</span>
                <em>{% trans '...among many others.' %}</em>
            </div>
            <p>
                {% blocktrans %}
                    In the property management business, when you think about data, you think about knowing your customers. Where they are, who they are, and most importantly how you can catch their attention.
                {% endblocktrans %}
            </p>
            <p>
                {% blocktrans %}
                    Think about it: If a hotel manager doesn’t know who their customers are and where they’re coming from, then they have no idea how they should be marketing their hotel.
                {% endblocktrans %}
            </p>
            <h5>
                {% blocktrans %}
                    This is the importance of data for your PMS in 
                {% endblocktrans %}
                {% now "Y" %}.
            </h5>
        </div>
    </div>
</div>