{% load static i18n %}

<div class="why-page-content__item">
    <h2>{% trans 'Where data is headed' %}</h2>
    <div class="row align-items-center justify-content-between">
        <div class="col-lg-4 order-lg-1">
            <div class="why-page-content__img">
                <img
                    alt="PMS Data Processing - 2"
                    src="https://sebasmoralesd.com/rms/public/static/imgs/content/data2.png"
                    class="wow fadeInRight"
                    >
                </div>
        </div>
        <div class="col-lg-7">
            <article>
                <p>Now is the perfect time to hop aboard the data train. Heading into 2020, data analysis is more valuable than ever, which means you can expect to see more DaaS (Data-as-a-service) offered by companies. In fact, according to Towards Data Science, “90% of the world’s largest enterprises are expected to generate income from data-as-a-service.” This means more and more data companies will try to reach into your wallet to get you to pay for a subscription to obtain advanced data and analytics. Save yourself the added expense by implementing a PMS that includes access to these analytics to your property. </p>
            </article>
        </div>
    </div>
</div>

<div class="why-page-content__item">
    <div class="row align-items-center justify-content-between">
        <div class="col-lg-4">
            <div class="why-page-content__img">
                <img
                    alt="PMS Data Processing - 3"
                    class="wow fadeInLeft float_right"
                    src="https://sebasmoralesd.com/rms/public/static/imgs/content/data3.png"
                >
                </div>
        </div>
        <div class="col-lg-7">
            <article>
                <p>Another trend that is soon going to take impact is data governance. The California Consumer Privacy Act (CCPA) was signed into law at the beginning of 2020. This act will work alongside another regulation, the General Data Protection Regulation (GDPR) to ensure businesses follow the data security and handling guidelines. Because the acts are relatively new, many companies have yet to begin following these rules and regulations mostly out of ignorance. But they are a law now with strong consequences for those who don’t adapt to the new legislation. A property management system will fully comply with GDPR and CCPA guidelines to ensure your property management business is playing by the rules. </p>
            </article>
        </div>
    </div>
</div>