{% load static i18n %}

<div class="data-gray">
    <div class="container">
        <h2 class="data-gray__title">
            <strong>{% trans 'Our' %}</strong>
            <span>
                <img
                    alt="Our Data Advantages - 1"
                    src="https://sebasmoralesd.com/rms/public/static/imgs/content/startup-rocket.png"
                    class="wow fadeInUp"
                >
            </span>
            <small>
                {% trans 'data' %}
                <br>
                {% trans 'advantage' %}
            </small>
        </h2>
        <div class="solution-page-integration__section">
            <div class="row">
                <div class="col-lg-6">
                    <div class="solution-page-integration__item">
                        <div class="solution-page-integration__image">
                            <figure><img alt="Our Data Advantages - 4" src="https://sebasmoralesd.com/rms/public/static/imgs/content/crm-ico.png"></figure>
                        </div>
                        <section>
                            <p>
                                {% blocktrans %}
                                    The CRM was built specifically to enhance the relationship between businesses and their customers. With this, much of the platform was designed to analyze useful data to help companies better appeal to their target audience.
                                {% endblocktrans %}
                            </p>
                        </section>
                    </div>
                    <div class="solution-page-integration__item">
                        <div class="solution-page-integration__image">
                            <figure><img alt="Our Data Advantages - 6" src="https://sebasmoralesd.com/rms/public/static/imgs/content/analysis_ico.png"></figure>
                        </div>
                        <section>
                            <p>
                                {% blocktrans %}
                                    Tools such as augmented and predictive analysis, data automation, and in-memory and natural language processing help contemporize your property management business. 
                                {% endblocktrans %}
                            </p>
                        </section>
                    </div>
                    <div class="solution-page-integration__item">
                        <div class="solution-page-integration__image">
                            <figure><img alt="Our Data Advantages - 8" src="https://sebasmoralesd.com/rms/public/static/imgs/content/data-ico.png"></figure>
                        </div>
                        <section>
                            <p>
                                {% blocktrans %}
                                    The volume and quality of PMS data will only continue to grow. Artificial intelligence and machine learning are now mandatory tools to process information. With wireless technology such as 5G rolling out in 2020, most companies will have a large cloud-based online presence. 
                                {% endblocktrans %}
                            </p>
                        </section>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="solution-page-integration__item">
                        <div class="solution-page-integration__image">
                            <figure><img alt="Our Data Advantages - 3" src="https://sebasmoralesd.com/rms/public/static/imgs/content/data-screen.png"></figure>
                        </div>
                        <section>
                            <p>
                                {% blocktrans %}
                                    Use machine learning to convert raw data into information that your PMS can read and analyze.
                                {% endblocktrans %}
                            </p>
                        </section>
                    </div>
                    <div class="solution-page-integration__item">
                        <div class="solution-page-integration__image">
                            <figure><img alt="Our Data Advantages - 5" src="https://sebasmoralesd.com/rms/public/static/imgs/content/why-recap3.png"></figure>
                        </div>
                        <section>
                            <p>
                                {% blocktrans %}
                                    Booking is able to utilize revolutionary technology such as an AI to personalize the guest experience making it the best property management software on the PMS market.
                                {% endblocktrans %}
                            </p>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>