{% load static i18n %}

<div class="why-page-bottom data-page-bottom ">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img
                    alt="PMS enabled property"
                    src="https://sebasmoralesd.com/rms/public/static/imgs/content/data-bottom.png"
                    class="wow fadeInLeft"
                >
            </div>
            <div class="col-lg-6">
                <h3>{% trans 'Become a pms enabled property' %}</h3>
                <p>
                    {% blocktrans %}
                        When it comes to an all-in-one property management solution, you cannot afford second best. The best way to stay ahead of the boom in data processing is to adapt to the times and accept the change. By implementing a Salesforce-backed PMS software to your hotel, motel, resort, country club, residential property, or self-storage facility, data processing is done for you in seconds putting you on the path to optimal customer service and a more structured workflow.
                    {% endblocktrans %}
                </p>
            </div>
        </div>
    </div>
</div>