{% load static i18n %}

<div class="container">
  <div class="row align-items-center">
    <div class="col-lg-6">
      <div class="about-page-top__img">
        <img
          alt="Analytics Integration - 1"
          src="https://sebasmoralesd.com/rms/public/static/imgs/hero/einstein-top.png"
          class="wow fadeInUp"
          style="visibility: visible; animation-name: fadeInUp"
        />
      </div>
    </div>
    <div class="col-lg-6">
      <article>
        <h1>{% trans 'Integration of Artificial Intelligence' %}</h1>
        <p>
          {% blocktrans %}
            AI assistant to enable property managers to work smarter. This partnership has given birth to the most revolutionary application to be launched in the property and hospitality industry.
          {% endblocktrans %}
        </p>
      </article>
    </div>
  </div>
</div>
