{% load static i18n %}

<div class="container">
    <div class="about-page-content__title text_right">
      <span>{% trans 'On the other end:' %}</span>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-1">
        <figure>
          <img
            alt="Relationships - icon"
            src="https://sebasmoralesd.com/rms/public/static/imgs/content/einstein-ico5.png"
            class="wow fadeInLeft"
            />
          <figcaption class="wow fadeInLeft">{% trans 'relationships' %}</figcaption>
        </figure>
      </div>
      <div class="col-lg-11">
        <article>
          <p>
            {% blocktrans %}
              With an emphasis on better business performance, you can bolster your current working relationship with your employees and build learning communities based on the data that AI collects. By recognizing what works and what doesn’t, you can help your team maximize their best skills and improve on others, making your company stronger as a whole.
            {% endblocktrans %}
          </p>
        </article>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-1">
        <figure>
          <img
            alt="Guests Happy - icon"
            src="https://sebasmoralesd.com/rms/public/static/imgs/content/einstein-ico6.png"
            class="wow fadeInLeft"
          />
          <figcaption class="wow fadeInLeft">{% trans 'guests happy' %}</figcaption>
        </figure>
      </div>
      <div class="col-lg-11">
        <article>
          <p>
            {% blocktrans %}
              Analytics helps businesses build deeper relationships with customers. This is a major break for service-based enterprises like hotels, where guests experience is of great importance. Analytics provides a 360-degree view in order to improve guests’ experience. This 360-degree view provides the hotels with relevant information they need to effectively manage their day-to-day interactions with guests.
            {% endblocktrans %}
          </p>
        </article>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-1">
        <figure>
          <img
            alt="Data Collection - icon"
            src="https://sebasmoralesd.com/rms/public/static/imgs/content/einstein-ico7.png"
            class="wow fadeInLeft"
          />
          <figcaption class="wow fadeInLeft">{% trans 'data collection' %}</figcaption>
        </figure>
      </div>
      <div class="col-lg-11">
        <article>
          <p>
            {% blocktrans %}
              Whether you enjoy data analytics or not, AI will help you make sense of the data it collects. Our software was built to securely accumulate, process, explain, and store data for your benefit. You can choose to use the AI in the way that best helps your business, but it is more than just a data collector.
            {% endblocktrans %}
          </p>
        </article>
      </div>
    </div>
  </div>