{% load static i18n %}

<div class="container">
    <h2 class="about-page-content__title">
      <span>{% trans 'A quick overview:' %}</span>
    </h2>
    <div class="einstein-page-analytics__box">
      <div class="einstein-page-analytics__section">
        <div class="einstein-page-analytics__img">
          <figure>
            <img
              alt="Analytics Overview - icon - 1"
              src="https://sebasmoralesd.com/rms/public/static/imgs/content/core1.png"
              class="wow fadeInLeft"
            />
            <figcaption></figcaption>
          </figure>
        </div>
        <div class="einstein-page-analytics__text">
          <p>
            {% blocktrans %}
              It is a CRM assistant, and a very smart one. It runs on the latest Artificial Intelligence technology and provides very necessary assistance to businesses. It is not a replacement for humans, it performs tasks humans can’t achieve easily.
            {% endblocktrans %}
          </p>
        </div>
      </div>
      <div class="einstein-page-analytics__box">
        <div class="einstein-page-analytics__section">
          <div class="einstein-page-analytics__img">
            <figure>
              <img
                alt="Analytics Overview - icon - 2"
                src="https://sebasmoralesd.com/rms/public/static/imgs/content/core2.png"
                class="wow fadeInLeft"
              />
              <figcaption></figcaption>
            </figure>
          </div>
          <div class="einstein-page-analytics__text">
            <p>
              {% blocktrans %}
                Helps executives track the company’s performance, learn about new risks to prepare for, and understand how and where to effectively allocate resources. It has the ability to intelligently predict business performance and provides possible ways to improve efficiency.
              {% endblocktrans %}
            </p>
          </div>
        </div>
        <div class="einstein-page-analytics__box">
          <div class="einstein-page-analytics__section hide-arrow">
            <div class="einstein-page-analytics__img">
              <figure>
                <img
                  alt="Analytics Overview - icon - 3"
                  src="https://sebasmoralesd.com/rms/public/static/imgs/content/core3.png"
                  class="wow fadeInLeft"
                  />
                <figcaption></figcaption>
              </figure>
            </div>
            <div class="einstein-page-analytics__text">
              <p>
                {% blocktrans %}
                  Being a computerized application, Analytics is non-biased in its reports on deals. It’s not sentimental on facts, it tells you the truth about your current position, and by analyzing recent statistics, tells you what you can do to improve it.
                {% endblocktrans %}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="einstein-page-analytics__aside">
      <div class="row align-items-center">
        <div class="col-lg-3 order-lg-1">
          <img
            alt="Analytics Overview - icon - 4"
            class="wow fadeInRight einstein-page-analytics__aside-img"
            src="https://sebasmoralesd.com/rms/public/static/imgs/content/einstein-ico4.png"
          />
        </div>
        <div class="col-lg-9">
          <div class="about-page-content__title">
            <span>{% trans 'Aside from all that:' %}</span>
          </div>
          <p>
            {% blocktrans %}
              Analytics helps you look outwards. It shows you a broad view of the competitive landscape, where it tracks win rates, and learn why deals were successful or not. It uses the almost hidden data in your business to spot trends and opportunities for you to take advantage of.
            {% endblocktrans %}
          </p>
        </div>
      </div>
    </div>
  </div>