{% load static i18n %}

<div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="einstein-page-bottom__img">
          <img
            alt="Analytics Integration - 2"
            src="https://sebasmoralesd.com/rms/public/static/imgs/content/einstein-img-bottom.png"
            class="wow fadeInLeft"
          />
        </div>
      </div>
      <div class="col-lg-6">
        <h2>
          {% blocktrans %}
            The marketing team is also included. Analytics provides accurate insights on how success can be achieved through various platforms. It offers web analytics that allows the marketing team to track online engagement and capitalize on valid leads. It also provides them with conversion trends to create better content and more interactive campaigns, leading to satisfied customers. Analytics not only offers marketing insights but also gives managers a view of marketing performance across all key channels.
          {% endblocktrans %}
        </h2>
      </div>

      <div class="col-lg-12">
        <h2>
            {% blocktrans %}
              The Booking Property Management System integrated with Analytics is a very powerful solution for property managers as it helps them maintain record growth. Reports from property managers using the application indicate a significant boost in employee productivity and improved IT deployment and integration. The Synonym Dev team is determined to consistently improve its overall performance and, ultimately, client results.
            {% endblocktrans %}
          </h2>
      </div>
    </div>
</div>